# Entorno virtual
.venv/
venv/
ENV/
env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
